{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p class="lead">Это интерфейс для вашего будущего помощника по работе с отзывами маркетплейсов.</p>
    <hr class="my-4">
    <p>В дашборде вы сможете управлять API‑ключами, просматривать отзывы и отвечать на них с помощью ИИ.</p>
    <a class="btn btn-primary btn-lg" href="/dashboard" role="button">Перейти в дашборд</a>
</div>
{% endblock %}